<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubDeportivoMB">
        <activity
            android:name=".RegistroClientes"
            android:exported="false" />
        <activity
            android:name=".ControlAccesoActivity"
            android:exported="false" />
        <activity
            android:name=".ObtenerDatosPersonalNutricionista"
            android:exported="false" />
        <activity
            android:name=".ObtenerDatosPersonalProfesor"
            android:exported="false" />
        <activity
            android:name=".ObtenerDatosClienteNoSocio"
            android:exported="false" />
        <activity
            android:name=".ObtenerDatosClienteSocio"
            android:exported="false" />
        <activity
            android:name=".TurnosActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".ModificarPersonalProfesorFormulario"
            android:exported="false" />
        <activity
            android:name=".ModificarClienteNoSocioFormulario"
            android:exported="false" />
        <activity
            android:name=".ModificarClienteSocioFormulario"
            android:exported="false" />
        <activity
            android:name=".TipoPersonalModificarPersonalActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalBuscarPersonal"
            android:exported="false" />
        <activity
            android:name=".TipoPersonalAgregarPersonalActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalActivity"
            android:exported="false" />
        <activity
            android:name=".ClienteBuscarClienteResultado"
            android:exported="false" />
        <activity
            android:name=".ClienteBuscarCliente"
            android:exported="false" />
        <activity
            android:name=".RegistroClienteNoSocio"
            android:exported="false" />
        <activity
            android:name=".PagosActivity"
            android:exported="false" />

        <activity
            android:name=".RegistrarPagoActivity"
            android:exported="false" />

        <activity
            android:name=".ConsultarEstadoActivity"
            android:exported="false" />

        <activity
            android:name=".HistorialPagosActivity"
            android:exported="false" />

        <activity
            android:name=".ReportesActivity"
            android:exported="false" />

        <activity
            android:name=".ConfiguracionCuotasActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroClienteSocio"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".TipoClienteAgregarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".ClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.ClubDeportivoMB" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".VencimientosActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ClubDeportivoMB" /> <!-- Splash Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>